numpy
pandas
scanpy
squidpy
tqdm
sklearn
scipy
matplotlib
scikit-misc
louvain
gensim

# ``` bash
# pip3 install -r requirements.txt
# ```
# not suggest to install this model by pip
# you can install them on their official website
# torch   # if you have cuda, you should install cuda first
# torch_geometric # recommand to download .whl to install
# rpy2    # not needed if donnt use mclust, and you should install r-base first
# tensorflow_gpu    # for STAGATE